@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin-left: 20px;
    margin-right: 20px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #d6d8da;
}
.a{
    margin-left: 30px;
    margin-bottom: 10px;
}